@model CapacitacionMVC.Web.Models.MoviesIndexModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Películas</h2>
<br />

@using (Html.BeginForm("Index", "Movies", FormMethod.Get, new { @class = "form-inline", role = "form" }))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.SearchText, new { @class = "form-control input-lg", type = "search", placeholder = Html.DisplayNameFor(m => m.SearchText), autofocus = "autofocus" })
    </div>
    <button class="btn btn-primary btn-lg text-left" type="submit">Buscar</button>
}

<br />
<br />

@if (User.Identity.IsAuthenticated)
{
    <style>
        th {
            text-align: left;
        }
    </style>

    <a class="btn btn-default" href="@Url.Action("Create")">Create Movie</a>

    <br />
    <br />

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="display: none;"></th>
                    <th>Name</th>
                    <th class="hidden-xs">Release Date</th>
                    <th class="hidden-xs">Runtime</th>
                    <th class="hidden-xs">Genres</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td style="display: none;">@Html.HiddenFor(m => movie.Id)</td>
                        <td>
                            <img src="@movie.CoverLink" style="height: 30px;" />
                            <span id="movie_Name">@movie.Name</span>
                        </td>
                        <td class="hidden-xs">@Html.DisplayFor(m => movie.ReleaseDate, "Date")</td>
                        <td class="hidden-xs">@movie.Runtime</td>
                        <td class="hidden-xs">@Html.DisplayFor(m => movie.Genres, "Genres")</td>
                        <td class="movies-table-actions">
                            <a href="@Url.Action("Edit", new { movie.Id })">
                                <span class="hidden-xs">Edit</span>
                                <span class="glyphicon glyphicon-pencil hidden-sm hidden-md hidden-lg"></span>
                            </a>
                            <span class="hidden-xs">|</span>
                            <a class="deleteMovie" href="javascript:void(0)">
                                <span class="hidden-xs">Delete</span>
                                <span class="glyphicon glyphicon-remove hidden-sm hidden-md hidden-lg"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('.deleteMovie').click(function () {
                var row = $(this).parents('tr');
                var movieName = row.find('#movie_Name').text();

                if (!confirm('Are you sure you want to delete the movie: ' + movieName + '?')) {
                    return false;
                }

                var movieId = row.find('#movie_Id').val();

                $.ajax({
                    url: '@Url.Action("Delete")/' + movieId
                }).done(function () {
                    alert("The movie has been deleted");

                    row.remove();
                }).fail(function () { alert("error"); });
            });
        });
    </script>
}
else
{
    <div class="row ">
        @foreach (var movie in Model.Movies)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img data-src="holder.js/400x300" src="@movie.CoverLink" style="max-width: 400px; max-height: 300px;">

                    <div class="caption">
                        <p class="text-center text-primary"><strong>@movie.Name</strong></p>
                    </div>
                </div>
            </div>
        }
    </div>
}